* {
	font-family: 'Marcellus', serif;
	margin-left: 0px;
}

.amazing {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
	font-size: 3em;
	border-bottom: 2px solid orange;
	border-right: 2px solid orange;
	width: 400px;
	text-align: center;
	box-shadow: 4px 4px 5px #FF0000;
}

img {
	height: 350px;
	width: 350px;
	margin: 10px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.2);
}